.User-account-toolbar {
    background-color: #239f85;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.User-account-toolbar-text {
    color: white !important;
    font-weight: bold !important;
    font-size: 24px !important;
}

.User-account-paper {
    background-color: #ecf0f1 !important;
}

.User-details {
    padding: 20px;
}

.User-account-progress {
    text-align: center;
    padding: 20px;
}

.Admin-row-text {
    font-size: 14px !important;
}

.Email-search fieldset {
    border-radius: 0;
}

.Email-search {
    padding-left: 20px;
    padding-top: 20px;
}
