.Header-tabs {
    background: linear-gradient(
        to right,
        #ffffff,
        var(--cidc-blue) 300px,
        var(--cidc-blue)
    );
    width: 100%;
}

.Logo {
    height: 87px;
    padding: 5px;
}

.Header-tab-label {
    font-size: 15px;
}
