.App {
    min-width: 1280px !important;
    --light-grey: #ecf0f1;
    --bright-green: #031729a9;
    --cidc-blue: #004581b4;
}

.Markdown-width {
    width: 880px;
    margin: auto;
}

.Content {
    padding: 3em;
    background-color: var(--light-grey);
    min-height: 960px; /* totally arbitrary */
}
