.App {
    min-width: 640px !important;
    --light-grey: white;
    --bright-green: #3b4856;
    --cidc-blue: #95cfff;
    height: 100vh;
}

.Markdown-width {
    width: 880px;
    margin: auto;
}

/* .markdown-body code,
.markdown-body pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
        monospace !important;
    font-size: 12px !important;
} */

.Content {
    padding: 3em;
    min-height: 960px; /* totally arbitrary */
    background: var(--light-grey);
}
