body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html *:not(code) {
    font-family: "Karla", sans-serif !important;
    font-stretch: condensed;
}

code.language-bash:before {
    content: "$ ";
}
