.Browse-files-page {
    margin: auto;
    padding: 20px;
}

.File-filter {
    border: 2px solid var(--bright-green);
    border-radius: 5px;
}

.File-filter-toolbar {
    justify-content: center;
    background-color: var(--bright-green);
    min-height: 40px !important;
}

.File-filter-toolbar-text {
    color: white !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

.File-filter-checkboxes {
    padding-left: 10px;
    max-height: 200px;
    overflow: auto;
}

.File-filter-checkbox {
    padding: 8px !important;
}

.File-table {
    border: 1px solid #cfd0d0;
    border-radius: 5px;
    border-collapse: separate !important;
}

.File-table-row {
    cursor: pointer;
}

.File-table-row-cell {
    font-size: 14px !important;
}

.filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.File-table-header-cell {
    font-size: 13px !important;
}

.File-search {
    background-color: white;
    margin-top: 0 !important;
    border-radius: 5px;
}

.File-search-input {
    height: 42px;
}

.File-search-label {
    font-size: 14px !important;
    line-height: 10% !important;
}

.File-search-border fieldset {
    border-radius: 5px;
}

.Browse-files-progress {
    text-align: center;
}
