.Register-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--cidc-blue);
    height: 48px;
    font-size: 24px;
}

.Register-progress {
    text-align: center;
    padding-top: 30px;
}
